body {
  background-color: rgb(198, 234, 211);
  background-repeat: no-repeat;
}

img {
  height: 35em;
  width: 100%;
  display: block;
} 
.header {
  text-align: center;
  font-weight:bolder;
}

.submitBtn {
  background-color: rgb(105, 211, 105);
}

.hidden {
  display: none;
}

